.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    text-align: center;
    margin-top: 100px;
}

@media only screen and (max-width: 600px){
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 100px;
         
    }
    


}