@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500,700");

@import url(//db.onlinewebfonts.com/c/487390d5558cff7a17ce35d7d92a0540?family=Pretendo);

.box{
    max-width: 80%;
    height: 700px;
    margin: 10px 30px 10px 30px; 
    display: grid;
    grid-template-rows: 20% 30% 25% 20% 5%;
    /* align-items: center; */
    border: 2px solid grey;
    /* border-radius: 20px; */
    box-shadow: 5px 5px 5px;

}
.description{
     margin: 10px;
 
}


.title{
    font-size: 48px;
    margin: 15px 0 20px 0;
    text-decoration: underline;
}


.techs * {

    /* border: 4px solid brown; */
    margin: 0;
    text-align: center;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-around; */
    /* align-content: center; */
    padding: 10px;
    
}

.techs {
    /* display: flex;
    flex-direction: column; */
    

}

.techGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.techList{
    padding: 0 10px;
}

img {
    margin: 0 auto;
    max-width: 90%;
    max-height: 90%;
    border: 2px solid black;
    border-radius: 10px;
}

li {
    color: black;
}

.git {
    list-style: none;
    display: inline;
    margin: 10px;
    
}

.git *{
    color: black;
    
}

.link {
    text-decoration: underline;
}

.techList{
    font-size: 20px;
    color: crimson;
}

button {
    --borderWidth: 5;
    --boxShadowDepth: 8;
    --buttonColor: #f00;
    --fontSize: 3;
    --horizontalPadding: 16;
    --verticalPadding: 8;
  
    background: transparent;
    border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
    box-shadow: calc(var(--boxShadowDepth) * 1px) calc(var(--boxShadowDepth) * 1px) 0 #888;
    color: var(--buttonColor);
    cursor: pointer;
    font-size: calc(var(--fontSize) * 1rem);
    /* font-weight: bold; */
    outline: transparent;
    padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
    transition: box-shadow 0.15s ease;
    /* font-family: "Rubik", sans-serif; */
    font-family: 'Pretendo', sans-serif;
    border-radius: 15px;
  }

@media only screen and (max-width: 600px){
    .box {
        height: 600px;    
    }

    
    .title {
        font-size: 24px;       
    }
    .projectLink {
    --borderWidth: 3;
    --boxShadowDepth: 4;
    --buttonColor: #f00;
    --fontSize: 2;
    --horizontalPadding: 10;
    --verticalPadding: 6;
  
    background: transparent;
    border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
    box-shadow: calc(var(--boxShadowDepth) * 1px) calc(var(--boxShadowDepth) * 1px) 0 #888;
    color: var(--buttonColor);
    cursor: pointer;
    font-size: calc(var(--fontSize) * 1rem);
    
    outline: transparent;
    padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
    transition: box-shadow 0.15s ease;
    
    font-family: 'Pretendo', sans-serif;
    border-radius: 15px;
    }
    
    .projectLink:hover {
        box-shadow: calc(var(--boxShadowDepth) / 2 * 1px) calc(var(--boxShadowDepth) / 2 * 1px) 0 #888;
      }
      
      .projectLink:active {
        box-shadow: 0 0 0 #888;
      }
    

}