.box{
    max-width: 80%;
    height: 700px;
    /* margin: 0 auto; */
    display: grid;
    grid-template-rows: 10% 50% 40%;
    /* align-items: center; */
}
.title{
    font-size: 48px;
}

.box *{
    border: solid red 4px;
    
}
.techs *{
    border: solid green 4px;

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: space-around; */
}
.techs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img {
    margin: 10px auto;
    max-width: 100%;
    max-height: 100%;
}